<div class="jumbotron-fluid">
  <h1>
    <div class="col text-center mt-3">
      <img
        src="../../assets/images/main-image.PNG"
        alt="main-logo"
        height="100"
        width="140"
      /><br />
      <div class="font-effect-shadow-multiple">Team formation</div>
    </div>
  </h1>
  <hr />
  <div class="container" *ngIf="teamChangeFlag">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" *ngIf="!isDisplayPlayerDropdown">
        <label class="label"
          >Team size<span style="font-size: 10px;">
            (select per team player count)</span
          ></label
        >
        <div>
          <select
            class="custom-select"
            id="team"
            (change)="updatePlayerCount($event)"
          >
            <option value="" selected>Select team size</option>
            <option value="6">6 (Six)</option>
            <option value="11">11 (Eleven)</option>
          </select>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="container" *ngIf="teamChangeFlag">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" *ngIf="isDisplayPlayerDropdown">
        <form
          [formGroup]="addTeamNameForm"
          *ngIf="count < 2"
          (ngSubmit)="onSubmit()"
        >
          <label class="label">Team Name</label>
          <div class="form-group">
            <input
              type="text"
              placeholder="Enter your team name"
              formControlName="teamName"
              class="form-control"
              [ngClass]="{
                'is-invalid': addTeamNameForm.controls['teamName'].invalid
              }"
            />
          </div>
          <div class="form-group">
            <div class="col text-center">
              <button
                class="btn btn-success"
                [disabled]="!addTeamNameForm.valid"
                type="submit"
              >
                Add team name
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="container" *ngIf="teamChangeFlag">
    <div class="row">
      <div class="col-md-1"></div>
      <div
        class="col-md-10"
        *ngIf="
          count >= 2 &&
          (playersTeamA.length < playerCount ||
            playersTeamB.length < playerCount)
        "
      >
        <label class="label">Player details</label>
        <div class="input-group mt-3 mb-3" [formGroup]="addPlayerForm">
          <div class="input-group-prepend">
            <select
              class="custom-select"
              id="team"
              formControlName="selectedTeam"
              (change)="updateTeamName($event)"
            >
              <option value="" selected>Select team</option>
              <option value="teamA" *ngIf="playersTeamA.length < playerCount">{{
                teamAName
              }}</option>
              <option value="teamB" *ngIf="playersTeamB.length < playerCount">{{
                teamBName
              }}</option>
            </select>
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            placeholder="First Name"
            required
          />
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            placeholder="Last Name"
            required
          />
          <select class="custom-select" id="team" formControlName="role">
            <option value="" selected>Role</option>
            <option *ngFor="let role of roles" [value]="role">{{
              role
            }}</option>
          </select>
          <div class="input-group-append">
            <button
              class="btn btn-success"
              type="button"
              [disabled]="!addPlayerForm.valid"
              (click)="addPlayer()"
            >
              Add player
            </button>
          </div>
        </div>
        <hr />
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col text-center" *ngIf="teamAName">
          <img
            alt="team-a-logo"
            src="../../assets/images/team-a-logo.jpg"
            height="42"
            width="42"
          />
          <button class="btn btn-primary" style="margin-left: 10px" disabled>
            Team: {{ teamAName }}
          </button>
          <hr />
        </div>

        <table class="table table-bordered" *ngIf="playersTeamA.length > 0">
          <thead>
            <th>#</th>
            <th>Name</th>
            <th>Role</th>
          </thead>
          <tbody>
            <tr *ngFor="let player of playersTeamA">
              <td>{{ player.id }}</td>
              <td>{{ player.firstName }} {{ player.lastName }}</td>
              <td>{{ player.role }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="col text-center" *ngIf="teamBName">
          <img
            alt="team-a-logo"
            src="../../assets/images/team-b-logo.jpg"
            height="42"
            width="42"
          />
          <button class="btn btn-primary" style="margin-left: 10px" disabled>
            Team: {{ teamBName }}
          </button>
          <hr />
        </div>

        <table class="table table-bordered" *ngIf="playersTeamB.length > 0">
          <thead>
            <th>#</th>
            <th>Name</th>
            <th>Role</th>
          </thead>
          <tbody>
            <tr *ngFor="let player of playersTeamB">
              <td>{{ player.id }}</td>
              <td>{{ player.firstName }} {{ player.lastName }}</td>
              <td>{{ player.role }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <div
          *ngIf="
            count >= 2 &&
            playersTeamA.length >= playerCount &&
            playersTeamB.length >= playerCount
          "
        >
          <a
            class="btn btn-success mr-3"
            (click)="navigateToScoreboard(teamAName)"
            >Team {{ teamAName }} won toss</a
          >
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div
          *ngIf="
            count >= 2 &&
            playersTeamA.length >= playerCount &&
            playersTeamB.length >= playerCount
          "
        >
          <a class="btn btn-success" (click)="navigateToScoreboard(teamBName)"
            >Team {{ teamBName }} won toss</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!teamChangeFlag">
    <div class="row">
      <div class="col-md-6 text-center">
        
          <a
            class="btn btn-success mr-3"
            (click)="navigateToScoreboard(teamAName)"
            >Team {{ teamAName }} won toss</a
          >
      </div>
      <div class="col-md-6 text-center">
        
          <a class="btn btn-success" (click)="navigateToScoreboard(teamBName)"
            >Team {{ teamBName }} won toss</a
          >
      </div>
    </div>
  </div>
</div>
