.question-display-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-display-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.out-display-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wideBall-display-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-popup {
  transition: 0.3s ease all;
  font-family: "Roboto", sans-serif;
}
