.scorecard {
  color: red;
  background-color: aqua;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 40px;
}

.vl {
  border-left: 2px solid blue;
  height: 1000px;
  margin-left: 10px;
}
