<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="fixed-bottom">
  <div class="scorecard">
    <img
      src="../../assets/images/team-a-logo.jpg"
      alt="team-logo"
      height="40"
      width="40"
    />

    <h3 style="display: inline;">
      <span class="badge badge-secondary"
        >{{ teamWonToss }} :
        <span *ngIf="scoreCard.totalWicket < teamSize"
          >{{ scoreCard.totalRun }}/{{ scoreCard.totalWicket }}</span
        >
        <span *ngIf="scoreCard.totalWicket === teamSize">{{
          scoreCard.totalRun
        }}</span>
      </span>
    </h3>
    <span>over: {{ calOverCount() }}</span>
    <span class="vl"></span>

    <span style="margin-left: 20px; color: blue">
      <img
        src="../../assets/images/bat-logo.png"
        alt="bat-logo"
        height="30"
        width="20"
      />
      <span>{{ getPlayerScore() }}</span>
    </span>
    <span style="margin-left: 20px; color: blue">
      <img
        src="../../assets/images/ball.jpg"
        alt="bat-logo"
        height="30"
        width="30"
      />{{ displayBowler }} : {{ displayBowler }} <span></span>
    </span>
    <span class="vl"></span>
    <span style="margin-left: 450px; margin-top: 7px" *ngIf="scoreCard.extraRun"
      >Extra runs: {{ scoreCard.extraRun }}</span
    >
    <span style="margin-left: 20px;">Run rate: {{ calRunRate() }}</span>
    <button
      type="button"
      class="btn btn-primary"
      mat-raised-button
      (click)="openDialog()"
    >
      Open scoreboard
    </button>
  </div>
</div>
